<!doctype html>
<html lang="en-us">
<head>
  <title>Progressive Web Apps</title>  
  <meta charSet="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div id="content" onclick="void(0);">
    <%- body %>
  </div>
  <script src="/dist/bundle.js"></script>
</body>
</html>
